.layout {
    &-position {
        &--center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &-col {
        &--2 {
            max-width: 23.23rem;
        } 

        &--3 {
            max-width: 34.84rem;
        }
        
        &--4 {
            width: 46.45rem;
        }

        &--5 {
            max-width: 58.06rem;
        }

        &--6 {
            max-width: 70.37rem;
        }
    }

    &-flex {
        display: flex;

        &--around {
            justify-content: space-around;
        }

        &--between {
            justify-content: space-between;
        }

        &--grow {
            flex: 1;
        }
    
        &--column {
            flex-direction: column;
        }
    
        &--top {
            align-items: start;
        }
    
        &--bottom {
            align-items: flex-end;
        }
        
        &--center {
            align-items: center;
        }
    }
}
