.pages {
    &-signin {
        position: relative;
        height: 100vh;
    }

    &-signup {
        position: relative;
        height: 100vh;
    }

    &-home {

    }
    
    &-new {

    }
}
