// COLOR SCHEME

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-grey: rgb(189,195,199);
$color-grey-dark: rgb(112, 112, 112);

$color-green: rgb(46, 204, 113);
$color-green-dark: rgb(39, 174, 96);

// BOX-SHADOWS

$box-shadow: 0rem 1rem 2rem rgba($color-black, 0.1);